/* ESTILOS GENERALES */
:root {
  --dark-blue: #0a3871;
  --gray-400: #495057;
  --gray-500: #343a40;
  --light-blue: #f3f5fc;
  --blue: #d8dfe8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-blue);
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
}

/* ESTILOS DEL HEADER */

.header__logo {
  width: 120px;
  height: 48px;
  object-fit: cover;
}

/* ESTILOS DEL HEADER */

main {
  display: flex;
  gap: 80px;
  padding: 40px;
  height: 100%;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.content{
  display: flex;
  gap:80px;
}

.input {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

textarea {
  width: 100%;
  flex: 1;
  border: none;
  background-color: var(--light-blue);
  font-family: "Inter";
  color: var(--dark-blue);
  font-size: 32px;
  resize: none;
}

textarea::placeholder {
  font-family: "Inter";
  color: var(--dark-blue);
  font-size: 32px;
  outline: none;
}

textarea:focus {
  outline: none;
}

.input__content {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.input__message {
  color: var(--gray-400);
  font-size: 12px;
}

.input__buttons {
  width: 100%;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.button {
  width: 50%;
  border: none;
  padding: 24px;
  text-align: center;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;
}

.primary-button {
  background-color: var(--dark-blue);
  color: white;
}

.secondary-button {
  background-color: var(--blue);
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.result {
  width: 45%;
  padding: 32px;
  background-color: white;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.result--vacio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.result__img {
  width: 100%;
  object-fit: cover;
}

.result__title {
  color: var(--gray-500);
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

.result__message {
  display: block;
  color: var(--gray-400);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.result--mensaje{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.result__textarea {
  width: 100%;
  flex: 1;
  border: none;
  background-color: white;
  font-family: "Inter";
  color: var(--gray-400);
  font-size: 24px;
  resize: none;
}

.result__textarea:focus {
  outline: none;
}

.result__textarea:hover{
  cursor: auto;
}

.result__textarea::selection{
  background-color: transparent;
}

.result button{
  width: 100%;
}

#mensajeError{
  display: block;
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
}

.inactive{
  display: none;
}

@media (max-width: 950px) {
  main{
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .input, .result{
    width: 50%;
    display: inline-flex;
  }
  .content{
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .content{
    flex-direction: column;
    gap: 60px;
  }
  .input, .result{
    width: 100%;
  }
  .input{
    margin-top: 20px;
  }
  .result__img{
    display: none;
  }
  .result--vacio{
    text-align: center;
    width: 100%;
  }
  .result__title{
    margin-top: 16px;
  }
}

@media (max-width: 400px) {
  .input__buttons{
    flex-direction: column;
  }
  .button{
    width: 100%;
  }
}